

.App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;

}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 50%;
  width: 50%;

}

.card {
  flex: 1 0 calc(25% - 10px);
  height: 10rem;
  background-color: rebeccapurple;
  margin: 0.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: not-allowed;
}

.card.enabled {
  cursor: pointer;
}